@import "~bootstrap/scss/bootstrap.scss";
.todocontainer{
    margin-left: 40%;
    margin-top: 5%;
    width: 30%;
 }
 h1{
 font-size: 100px;
 }
 .header{
    text-align: center;
 }
  .todotextbox{
    width: 100%;
    height: 50px; 
    padding: 15px;
    font-size: 25px;
 }
.todobuttonright{
    float: right;
    width: 50%;
    text-align: right;
}
.todobuttonleft{
    float: left;
    width: 50%;
}
.todoborder{
border-left:1px ridge grey;
border-right:1px ridge grey;
border-bottom:1px ridge grey;
height: 50px;
padding: 15px;
font-size: 25px;
cursor: pointer;
font-family:Times New Roman;

}
.todoborder.fontsmall{
font-size: 20px;
color:red;
}



